@media (max-width: 1215px) {
    .illustration {
        width: 50%;
    }
}
@media (max-width:1060px) {
    header .logo {
        width: 26%
    }
    main {
        align-items: center;
    }
    .illustration {
        width: 45%;
    }
    .information h1 {
        font-size: 3rem;
    }
    .information p {
        font-size: 1.5rem
    }
}
@media (max-width: 950px) {
    .information h1 {
        font-size: 2.5rem;
    }
    .information p {
        max-width: 375px;
        min-width: 375px;
        font-size: 1.3rem;
    }
}
@media (max-width: 780px) {
    body {
        grid-template-areas: "header""main""footer";
    }
    header {
        align-self: center;
    }
    header .logo {
        width: 50%; /* !!!!!!!!!! */
    }
    main {
        flex-direction: column;
        justify-content: center;
    }
    .illustration {
        width: 250px;
    }
    .information {
        align-items: center;
    }
    .information h1 {
        margin-bottom: 5px;
        font-size: 1.9rem;
        text-align: center;
    }
    .information p {
        max-width: 245px;
        min-width: 245px;
        line-height: 20px;
        text-align: center;
    }
    .information .btn-register {
        padding: 7px 60px;
        font-size: 1.2rem;
    }
    footer {
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    footer .social a {
        width: 25px;
        height: 25px;
        font-size: 1.4rem;
    }
}
@media (max-width: 500px) {
    body {
        background: hsl(257, 40%, 49%) url('../../images/bg-mobile.svg') no-repeat no-repeat top;
        background-size: 100% 50%;
    }
}