html {
    font-size: 62.5%;
    color: hsl(0, 0%, 100%)
}
body {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    background: hsl(257, 40%, 49%) url('/images/bg-desktop.svg') no-repeat no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    height: 15vh;
}
header .container-header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}
header .logo {
    margin-left: 90px;
}
main {
    width: 100%;
    height: 85vh;
    padding: 0 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main .left {
    display: flex;
    justify-content: center;
    align-items: center;
}
.left .illustration {
    width: 90%;
}
.right {
    max-width: 545px;
    padding: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right h1 {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
}
.right p {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px; 
}
.right .btn-register {
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 9px 30px hsl(0, 0%, 0%);
    
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: hsl(257, 40%, 49%);
    background-color: #ffffff;
    transition: 0.3s ease-in-out;
}
.right .btn-register:hover {
    color: #ffffff;
    background-color: hsl(300, 69%, 71%);
}
footer {
    position: absolute;
    right: 6%;
    bottom: 40px;
}
footer ul{
    display: flex;
    gap: 15px;
}
footer ul li a{
    width: 35px;
    height: 35px;
    border: 1.5px solid #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}
footer ul li a:hover {
    border: 1.5px solid hsl(300, 69%, 71%);
    color: hsl(300, 69%, 71%);
}